<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <meta charset="utf-8"></meta>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <div>
            <!-- 当选中时，`picked` 为字符串 "a" -->
            <input type="radio" v-model="picked" value="a">

            <!-- `toggle` 为 true 或 false -->
            <input type="checkbox" v-model="toggle1">

            <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
            <select v-model="selected">
                <option value="abc">ABC</option>
            </select>

            <input type="checkbox" v-model="toggle2" true-value="yes" false-value="no">

            <select v-model="selected2">
                <!-- 内联对象字面量 -->
                <option v-bind:value="{ number: 123 }">123</option>
            </select>

        </div>

    </div>

    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                picked: '',
                toggle1: false,
                selected: '',
                toggle2: 'yes',
                selected2:null

            }
        })

    </script>
</body>

</html>